<style>
.main-header::after {
   position: fixed;
   content: "";
   left: 0px;
   top: 0px;
   width: 100%;
   background: linear-gradient(white, transparent);
   pointer-events: none;
 }
</style>
<header style="  
   background-image: radial-gradient(
      rgba(0, 0, 0, 0) 2px,
      rgba(255,255,255,.7) 2px
   );
   background-size: 6px 6px;
   backdrop-filter: blur(4px);
   mix-blend-mode: hard-light;
" class="main-header fixed z-10 px-[15px] sm:px-[30px] p-[30px] grid grid-cols-12 gap-[15px] w-screen top-0 justify-between items-center cta pointer-events-none -backdrop-blur-sm -bg-white sm:!bg-white/0">
  <div class="flex gap-[18px] pointer-events-auto bold-body md:col-start-2 col-span-3">
     <div class="hidden sm:flex gap-[18px]">
        {% for link in section.settings.menu.links %}
        <a
        href="{{ link.url }}"
        title="{{ link.title }}"
        {% if link.target == '_blank' %}
        target="_blank" rel="noopener noreferrer"
        {% endif %}
        >
        {{ link.title }}
        </a>
        {% endfor %}
     </div>
     <mobile-menu class="block md:lg:hidden">
     <!-- Modal toggle -->
     <button
        data-modal-target="default-modal"
        data-modal-toggle="default-modal"
        class="block font-medium font-xs"
        type="button"
        >
     Menu
     </button>
  </div>
  <div class="absolute left-0 w-full flex">
     <a class="mx-auto pointer-events-auto bold-body" href="/">
      <svg viewBox="0 0 400 80" xmlns="http://www.w3.org/2000/svg" class="w-[10rem] h-auto">
         <defs>
          <style>
            .logo-text {
              font-family: 'Great Vibes', cursive;
              font-size: 52px;
              font-weight: 400;
              fill: currentColor;
            }
          </style>
        </defs>
        <text x="10" y="55" class="logo-text">Kiswa Noir</text>
      </svg>
         
        {%- if settings.logo != blank -%}
        <div class="transform transition-transform duration-300 ease-in-out max-w-[158px]">
           {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
           {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
           {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
           {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
           {{
           settings.logo
           | image_url: width: 600
           | image_tag:
           class: 'header__heading-logo motion-reduce',
           widths: widths,
           height: logo_height,
           width: settings.logo_width,
           alt: logo_alt,
           sizes: sizes,
           preload: true
           }}
        </div>
        {%- else -%}
        {% comment %} <span class="h2">{{ shop.name }}</span> {% endcomment %}
        {%- endif -%}
     </a>
  </div>
  <div class="flex gap-[18px] col-span-3 col-start-10 md:col-start-9 items-center align-middle justify-end">
     <a href="https://wa.me/923111769243?text=Hello%20Kiswa-Noir%20team%2C%20I%27d%20like%20to%20get%20in%20touch" target="_blank" rel="noopener noreferrer" class="pointer-events-auto bold-body hidden sm:block">Info</a>
     <a href="" class="pointer-events-auto bold-body hidden sm:block">Search</a>
      {% comment %} <a href="" target="_blank" class="pointer-events-auto hidden md:block bold-body"> Soundcloud </a> {% endcomment %}
     <span class="font-xs font-medium pointer-events-auto cursor-pointer bold-body" 
      data-modal-target="cart-modal"
      data-modal-toggle="cart-modal">
        Cart
     </span>
  </div>
</header>
<!-- Main modal -->
<div
  id="default-modal"
  tabindex="-1"
  aria-hidden="true" data-backdrop-classes="vvv"
  class="hidden overflow-y-auto overflow-x-hidden max-w-screen fixed top-0 right-0 left-0 z-[999] justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
  >
  <div class="relative p-4 w-full max-w-2xl max-h-full">
     <div class="bg-white rounded-[8px] relative w-full h-full">
        <button
           data-modal-target="default-modal"
           data-modal-toggle="default-modal"
           id="close"
           class="absolute w-[12px] h-[12px] top-[30px] right-[30px]"
           aria-label="Close Menu"
           >
           <svg
              width="100%"
              height="100%"
              viewBox="0 0 9 9"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="stroke-black"
              >
              <path stroke-width=".5" d="M0.802541 0.257141L8.84083 8.29543L8.29466 8.84005L0.257141 0.802541L0.802541 0.257141Z" fill="black"></path>
              <path stroke-width=".5" d="M8.29465 0.257141L0.256363 8.29543L0.802534 8.84083L8.84082 0.802541L8.29465 0.257141Z" fill="black"></path>
           </svg>
        </button>
        <!-- Menu Content -->
        <ul class="p-[30px] flex flex-col gap-[30px] h-full">
           <!-- Navigation Links -->
           <div class="flex h-full flex-col justify-between">
              <!-- Links with '/collections/' -->
              <div class="flex flex-col text-md gap-[4px] page-title">
                 {% for link in section.settings.menu.links %}
                 <a
                 href="{{ link.url }}" class="py-2"
                 title="{{ link.title }}"
                 {% if link.target == '_blank' %}
                 target="_blank" rel="noopener noreferrer"
                 {% endif %}
                 >
                 {{ link.title }}
                 </a>
                 {% endfor %}
              </div>
              <!-- Footer Links -->
              <ul class="cta mt-[5rem] h-fit">
                 <li>{{ section.settings.footer_text }}</li>
              </ul>
           </div>
        </ul>
     </div>
     <!-- Modal content -->
     {% comment %}
     <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <ul class="p-[30px] flex flex-col gap-[30px] h-full">
           <div class="flex h-full flex-col justify-between">
              <!-- Dynamic Links -->
              <div class="flex flex-col text-md gap-[4px] page-title">
                 {% for link in section.settings.menu.links %}
                 <a
                 href="{{ link.url }}"
                 title="{{ link.title }}"
                 {% if link.target == '_blank' %}
                 target="_blank" rel="noopener noreferrer"
                 {% endif %}
                 >
                 {{ link.title }}
                 </a>
                 {% endfor %}
              </div>
              <!-- Footer Links -->
              <ul class="cta h-fit">
                 <li>{{ section.settings.footer_text }}</li>
              </ul>
           </div>
        </ul>
     </div>
     {% endcomment %}
  </div>
</div>
<div class="min-w-screen min-h-[4rem]"></div>
{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "text",
      "id": "footer_text",
      "label": "Footer Text",
      "default": "YORI LLC"
    }
  ]
}
{% endschema %}
