<style>
.main-header::after {
   position: fixed;
   content: "";
   left: 0px;
   top: 0px;
   width: 100%;
   background: linear-gradient(white, transparent);
   pointer-events: none;
 }
</style>
<header style="  
   background-image: radial-gradient(
      rgba(0, 0, 0, 0) 2px,
      rgba(255,255,255,.7) 2px
   );
   background-size: 6px 6px;
   backdrop-filter: blur(4px);
   mix-blend-mode: hard-light;
" class="main-header fixed z-10 px-[15px] sm:px-[30px] p-[30px] grid grid-cols-12 gap-[15px] w-screen top-0 justify-between items-center cta pointer-events-none -backdrop-blur-sm -bg-white sm:!bg-white/0">
  <div class="flex gap-[18px] pointer-events-auto bold-body md:col-start-2 col-span-3">
     <div class="hidden sm:flex gap-[18px]">
        {% for link in section.settings.menu.links %}
        <a
        href="{{ link.url }}"
        title="{{ link.title }}"
        {% if link.target == '_blank' %}
        target="_blank" rel="noopener noreferrer"
        {% endif %}
        >
        {{ link.title }}
        </a>
        {% endfor %}
     </div>
     <mobile-menu class="block md:lg:hidden">
     <!-- Modal toggle -->
     <button
        data-modal-target="default-modal"
        data-modal-toggle="default-modal"
        class="block font-medium font-xs"
        type="button"
        >
     Menu
     </button>
  </div>
  <div class="absolute left-0 w-full flex">
     <a class="mx-auto pointer-events-auto bold-body" href="/">
      <svg width="615" height="111" class="w-[10rem] h-auto" viewBox="0 0 615 111" fill="none" xmlns="http://www.w3.org/2000/svg">
         <path d="M0.625 109L16.6875 11.75H64.375C78.375 11.75 88.6667 14.4375 95.25 19.8125C101.875 25.1875 104.292 33.0625 102.5 43.4375C100.625 53.7292 95.4792 61.5417 87.0625 66.875C78.6875 72.2083 67.4583 74.875 53.375 74.875H35.75L30.6875 109H0.625ZM38.9375 62.8125H53.375C59.4167 62.8125 63.8958 61.2083 66.8125 58C69.7708 54.7917 71.6667 49.9375 72.5 43.4375C73.2917 37.0208 72.5833 32.1875 70.375 28.9375C68.1667 25.6458 64.0417 24 58 24H43.5625L38.9375 62.8125ZM94.2575 89.6875C95.5492 82.4375 100.632 76.8542 109.507 72.9375C118.424 69.0208 129.028 67.0625 141.32 67.0625H160.07L160.82 56.3125C161.237 52.3542 160.424 49.2917 158.382 47.125C156.382 44.9583 152.757 43.875 147.507 43.875C142.466 43.875 138.674 45.1667 136.132 47.75C133.632 50.3333 132.195 53.6667 131.82 57.75L131.695 58.8125H102.882L103.007 57.75C104.091 50.5 109.174 44.7083 118.257 40.375C127.341 36 138.382 33.8125 151.382 33.8125C164.507 33.8125 174.549 35.6875 181.507 39.4375C188.466 43.1875 191.195 49.3333 189.695 57.875L184.507 94.4375C184.049 97.0625 183.966 99.6042 184.257 102.062C184.549 104.521 185.112 106.521 185.945 108.062L185.757 109.062H157.07C156.653 107.938 156.341 106.396 156.132 104.438C155.966 102.479 155.882 100.625 155.882 98.875C153.716 101.458 149.653 104 143.695 106.5C137.737 109 130.653 110.25 122.445 110.25C113.612 110.25 106.382 108.688 100.757 105.562C95.1742 102.396 93.0075 97.1042 94.2575 89.6875ZM123.882 88.1875C123.466 92.1875 124.278 95.2083 126.32 97.25C128.403 99.25 131.841 100.25 136.632 100.25C141.757 100.25 146.299 98.9167 150.257 96.25C154.257 93.5417 156.507 90.0625 157.007 85.8125L157.82 75.0625H143.132C137.257 75.0625 132.695 76.2083 129.445 78.5C126.237 80.75 124.382 83.9792 123.882 88.1875ZM187.64 109L199.327 35.6875H227.952L227.452 44.375C229.494 40.875 232.369 38.25 236.077 36.5C239.827 34.75 243.661 33.875 247.577 33.875C248.952 33.875 250.14 33.9583 251.14 34.125C252.14 34.25 253.036 34.4792 253.827 34.8125L250.265 48.6875C249.098 48.4375 248.015 48.2083 247.015 48C246.057 47.7917 244.89 47.6875 243.515 47.6875C239.723 47.6875 236.036 49.4167 232.452 52.875C228.911 56.2917 226.369 59.8958 224.827 63.6875L217.702 109H187.64ZM244.585 73.25L244.898 71.25C246.814 59.25 252.731 50 262.648 43.5C272.606 37 284.898 33.75 299.523 33.75C313.439 33.75 323.627 36.2292 330.085 41.1875C336.585 46.1458 339.585 52.5208 339.085 60.3125L338.96 62.5H310.21L310.46 61C310.918 56.2917 309.96 52.5417 307.585 49.75C305.252 46.9583 301.439 45.5625 296.148 45.5625C290.106 45.5625 285.335 47.5 281.835 51.375C278.335 55.2083 276.168 60.7708 275.335 68.0625L273.898 76.4375C273.064 83.7708 273.981 89.3958 276.648 93.3125C279.314 97.1875 283.689 99.125 289.773 99.125C295.314 99.125 299.46 97.6667 302.21 94.75C305.002 91.7917 306.668 88 307.21 83.375L307.398 82.125H336.085L335.835 83.5625C334.585 91.2708 329.648 97.75 321.023 103C312.439 108.25 301.043 110.875 286.835 110.875C272.502 110.875 261.398 107.625 253.523 101.125C245.648 94.5833 242.668 85.2917 244.585 73.25ZM330.905 109L347.717 0.1875H376.78L369.905 49.0625C372.155 44.8542 375.426 41.3542 379.717 38.5625C384.051 35.7292 390.28 34.3125 398.405 34.3125C409.947 34.3125 418.217 36.3125 423.217 40.3125C428.217 44.2708 429.988 50.2708 428.53 58.3125L420.842 109H391.717L399.092 60.375C399.509 55.5 398.572 51.9792 396.28 49.8125C393.988 47.6458 390.53 46.5625 385.905 46.5625C381.697 46.5625 377.905 47.9167 374.53 50.625C371.197 53.3333 368.78 56.625 367.28 60.5L360.03 109H330.905ZM428.163 73.25L428.475 71.25C430.35 59.625 436.246 50.4792 446.163 43.8125C456.079 37.1042 468.038 33.75 482.038 33.75C495.704 33.75 506.1 36.9375 513.225 43.3125C520.392 49.6875 523.038 58.6458 521.163 70.1875L519.725 75.75H447.35L449.6 68.375H493.913L494.225 70.625C494.808 62.8333 494.288 56.5625 492.663 51.8125C491.079 47.0625 485.954 44.6875 477.288 44.6875C472.079 44.6875 467.6 46.6875 463.85 50.6875C460.142 54.6458 457.85 60.4583 456.975 68.125L455.538 76.375C454.663 83.9167 455.808 89.625 458.975 93.5C462.142 97.375 467.079 99.3125 473.788 99.3125C478.413 99.3125 482.558 98.1458 486.225 95.8125C489.892 93.4375 493.017 89.9375 495.6 85.3125L513.788 97.4375C510.913 101.688 505.746 105 498.288 107.375C490.871 109.75 481.892 110.938 471.35 110.938C456.475 110.938 445.079 107.729 437.163 101.312C429.288 94.8542 426.288 85.5 428.163 73.25ZM515.045 109L531.857 0.1875H560.92L554.045 49.0625C556.295 44.8542 559.566 41.3542 563.857 38.5625C568.191 35.7292 574.42 34.3125 582.545 34.3125C594.087 34.3125 602.357 36.3125 607.357 40.3125C612.357 44.2708 614.128 50.2708 612.67 58.3125L604.982 109H575.857L583.232 60.375C583.649 55.5 582.712 51.9792 580.42 49.8125C578.128 47.6458 574.67 46.5625 570.045 46.5625C565.837 46.5625 562.045 47.9167 558.67 50.625C555.337 53.3333 552.92 56.625 551.42 60.5L544.17 109H515.045Z" fill="black"/>
         </svg>
         
        {%- if settings.logo != blank -%}
        <div class="transform transition-transform duration-300 ease-in-out max-w-[158px]">
           {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
           {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
           {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
           {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
           {{
           settings.logo
           | image_url: width: 600
           | image_tag:
           class: 'header__heading-logo motion-reduce',
           widths: widths,
           height: logo_height,
           width: settings.logo_width,
           alt: logo_alt,
           sizes: sizes,
           preload: true
           }}
        </div>
        {%- else -%}
        {% comment %} <span class="h2">{{ shop.name }}</span> {% endcomment %}
        {%- endif -%}
     </a>
  </div>
  <div class="flex gap-[18px] col-span-3 col-start-10 md:col-start-9 items-center align-middle justify-end">
     <a href="https://wa.me/923111769243?text=Hello%20Kiswa-Noir%20team%2C%20I%27d%20like%20to%20get%20in%20touch" target="_blank" rel="noopener noreferrer" class="pointer-events-auto bold-body hidden sm:block">Info</a>
     <a href="" class="pointer-events-auto bold-body hidden sm:block">Search</a>
      {% comment %} <a href="" target="_blank" class="pointer-events-auto hidden md:block bold-body"> Soundcloud </a> {% endcomment %}
     <span class="font-xs font-medium pointer-events-auto cursor-pointer bold-body" 
      data-modal-target="cart-modal"
      data-modal-toggle="cart-modal">
        Cart
     </span>
  </div>
</header>
<!-- Main modal -->
<div
  id="default-modal"
  tabindex="-1"
  aria-hidden="true" data-backdrop-classes="vvv"
  class="hidden overflow-y-auto overflow-x-hidden max-w-screen fixed top-0 right-0 left-0 z-[999] justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
  >
  <div class="relative p-4 w-full max-w-2xl max-h-full">
     <div class="bg-white rounded-[8px] relative w-full h-full">
        <button
           data-modal-target="default-modal"
           data-modal-toggle="default-modal"
           id="close"
           class="absolute w-[12px] h-[12px] top-[30px] right-[30px]"
           aria-label="Close Menu"
           >
           <svg
              width="100%"
              height="100%"
              viewBox="0 0 9 9"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="stroke-black"
              >
              <path stroke-width=".5" d="M0.802541 0.257141L8.84083 8.29543L8.29466 8.84005L0.257141 0.802541L0.802541 0.257141Z" fill="black"></path>
              <path stroke-width=".5" d="M8.29465 0.257141L0.256363 8.29543L0.802534 8.84083L8.84082 0.802541L8.29465 0.257141Z" fill="black"></path>
           </svg>
        </button>
        <!-- Menu Content -->
        <ul class="p-[30px] flex flex-col gap-[30px] h-full">
           <!-- Navigation Links -->
           <div class="flex h-full flex-col justify-between">
              <!-- Links with '/collections/' -->
              <div class="flex flex-col text-md gap-[4px] page-title">
                 {% for link in section.settings.menu.links %}
                 <a
                 href="{{ link.url }}" class="py-2"
                 title="{{ link.title }}"
                 {% if link.target == '_blank' %}
                 target="_blank" rel="noopener noreferrer"
                 {% endif %}
                 >
                 {{ link.title }}
                 </a>
                 {% endfor %}
              </div>
              <!-- Footer Links -->
              <ul class="cta mt-[5rem] h-fit">
                 <li>{{ section.settings.footer_text }}</li>
              </ul>
           </div>
        </ul>
     </div>
     <!-- Modal content -->
     {% comment %}
     <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <ul class="p-[30px] flex flex-col gap-[30px] h-full">
           <div class="flex h-full flex-col justify-between">
              <!-- Dynamic Links -->
              <div class="flex flex-col text-md gap-[4px] page-title">
                 {% for link in section.settings.menu.links %}
                 <a
                 href="{{ link.url }}"
                 title="{{ link.title }}"
                 {% if link.target == '_blank' %}
                 target="_blank" rel="noopener noreferrer"
                 {% endif %}
                 >
                 {{ link.title }}
                 </a>
                 {% endfor %}
              </div>
              <!-- Footer Links -->
              <ul class="cta h-fit">
                 <li>{{ section.settings.footer_text }}</li>
              </ul>
           </div>
        </ul>
     </div>
     {% endcomment %}
  </div>
</div>
<div class="min-w-screen min-h-[4rem]"></div>
{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "text",
      "id": "footer_text",
      "label": "Footer Text",
      "default": "YORI LLC"
    }
  ]
}
{% endschema %}
